* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(4, 4, 55);
    color: white; 
    font-family:'Times New Roman', Times, serif;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: rgb(65, 93, 196);
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 23px;
}
nav ul li a{
    text-decoration: none;
    font-family: cursive;
    color: aliceblue;
}
nav ul li a:hover{
    text-decoration: none;
    color: rgb(202, 56, 23);
}
.left{
    font-size: 2rem;
}
.firstsection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px 0;
}
.firstsection > div{
    width: 30%;   
}
.leftsection{
    font-size: 3rem;
    margin: 30px 0;
}
.rightsection img{
    width:80%;  
}
.purple{
    color: rgb(93, 97, 220);
}
.element{
    color: la;
}

.contact-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-left-title h2{
    font-weight: 600;
    color: rgb(20, 215, 229);
    font-size: 40px;
    margin-bottom: 5px;
}

.contact-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: aqua;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: brown;
    border-radius: 50px;
}

.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus{
    border: 2px solid #ff4f4f;

}

.contact-inputs::placeholder{
    color: rgb(155, 155, 155);
}

.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #ff994f,#fa6d86);
    cursor: pointer;
}
.contact-left button img{
    height: 15px;

}

.contact-right img{
    width: 500px;
}

@media(max-width:800px){
    .contact-inputs{
        width: 80vw;
    }
    .contact-right{
        display: none;
    }
}